<nav fxFlexFill fxLayout="column">
    <a matTooltip="Workbench" matTooltipPosition="right" matTooltipShowDelay="500">
        <mat-icon inline="true">house</mat-icon>
    </a>
    <a matTooltip="Tray" matTooltipPosition="right" matTooltipShowDelay="500">
        <mat-icon inline="true">folder_special</mat-icon>
    </a>
    <a matTooltip="Trash" matTooltipPosition="right" matTooltipShowDelay="500">
        <mat-icon inline="true">delete</mat-icon>
    </a>
    <div fxFlex></div>
    <a matTooltip="Settings" matTooltipPosition="right" matTooltipShowDelay="500">
        <mat-icon inline="true">settings</mat-icon>
    </a>
</nav>
