nav {
    padding-top: 5px;
    background-color: #2c2c2c;
}

a {
    color: #808080;
    display: block;
    font-size: 38px;
    line-height: 50px;
    text-align: center;
    width: 100%;

    :hover,
    &.active {
        color: #ffffff;
        cursor: pointer;
    }

    &.active {
        background: url("/assets/sidenav-border.png") no-repeat;
    }
}
