html,
body {
    height: 100%;
    box-sizing: border-box;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 0;
}

$division-border: 1px solid #cccccc;

.archivists {
    border-top: $division-border;
    border-right: $division-border;
}

.files {
    border-top: $division-border;
}
